<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="local_ns">


	<resultMap id="LocalfoodResult" type="Food">
		<result property="f_fdcode" column="F_FDCODE" />
		<result property="e_evtcode" column="E_EVTCODE" />
		<result property="f_foodname" column="F_FOODNAME" />
		<result property="fc_1st" column="FC_1ST" />
		<result property="fc_2nd" column="FC_2ND" />
		<result property="fc_3rd" column="FC_3RD" />
		<result property="f_price" column="F_PRICE" />
		<result property="f_explan" column="F_EXPLAN" />
		<result property="f_imgname" column="F_IMGNAME" />
		<result property="f_thumname" column="F_THUMNAME" />
		<result property="f_isblock" column="F_ISBLOCK" />
		<result property="ms_code" column="ms_code" />
	</resultMap>
	
	<resultMap id="ReviewResult" type="Review">
		<result property="r_rvcode" column="r_rvcode" />
		<result property="m_userid" column="m_userid" />
		<result property="f_fdcode" column="f_fdcode" />
		<result property="r_title" column="r_title" />
		<result property="r_rvcontents" column="r_rvcontents" />
		<result property="r_grade" column="r_grade" />
		<result property="r_rvimgname" column="r_rvimgname" />
		<result property="r_rvcount" column="r_rvcount" />
		<result property="r_rvdate" column="r_rvdate" />
		<result property="r_admincmt" column="r_admincmt" />
		<result property="r_admindate" column="r_admindate" />
	</resultMap>
	
	
	<resultMap id="Foodcode" type="Foodcode">
		<result property="fc_1st" column="fc_1st" />
		<result property="fc_2nd" column="fc_2nd" />
		<result property="fc_3rd" column="fc_3rd" />
		<result property="fc_ctgname" column="fc_ctgname" />
		<result property="fc_isblock" column="fc_isblock" />
	</resultMap>

	<!-- 대분류 음식 리스트 -->
	<select id="selectLocalList" parameterType="map" resultMap="LocalfoodResult">
		select * from tr_food
		where fc_1st=#{large}
		and f_isblock=0
	</select>

	<!-- 중분류별 음식 리스트 -->
	<select id="selectLocalKindList" parameterType="map" resultMap="LocalfoodResult">
		select * from tr_food
		<where>
			<if test="large != null">
				fc_1st=#{large}
			</if>
			<if test="medium != 0">
				AND fc_2nd=#{medium}
			</if>
			and f_isblock=0
		</where>
	</select>

	<!-- 소분류 음식 리스트 -->
	<select id="selectLocalItemList" parameterType="map" resultMap="LocalfoodResult">
		select * from tr_food
		<where>
			<if test="large != null">
				fc_1st=#{large}
			</if>
			<if test="medium != 0">
				AND fc_2nd=#{medium}
			</if>
			<if test="small != 0">
				AND fc_3rd=#{small}
			</if>
			and f_isblock=0
		</where>
	</select>
	
	<!-- 음식명으로 찾기 리스트 -->
	<select id="searchTitleList" parameterType="map" resultMap="LocalfoodResult">
		select * from tr_food
		<where>
			<if test="fisrt != null">
				fc_1st=#{fisrt}
			</if>
			<if test="second != 0">
				AND FC_2ND=#{second}
			</if>
			<if test="third != 0">
				AND FC_3RD=#{third}
			</if>
			<if test="title != null">
				AND f_foodname like '%'||#{title}||'%' 
			</if>
			and f_isblock=0
		</where>
	</select>
	
	<!-- 음식 상세 페이지 -->
	<select id="selectFoodCode" parameterType="map" resultMap="LocalfoodResult">
		select * from tr_food
		<where>
			<if test="large != null">
				fc_1st=#{large}
			</if>
			<if test="code != null">
				AND f_fdcode=#{code} 
			</if>
		</where>
	</select>
	
	<!-- 음식 상세 페이지 내 리뷰 리스트 -->
	<select id="selectReview" parameterType="map" resultMap="ReviewResult">
		select * from tr_review
		<where>

			<if test="code != null">
				F_FDCODE=#{code} 
			</if>
		</where>
	</select>

	<!-- 장바구니에 추가 -->
	<insert id="insertBasket" parameterType="map">
		insert into tr_basket values(#{userID}, #{fdcode}, #{buyPrice}, #{amount})
	</insert>
	
	<!-- 분류코드 가져오기 -->
	<select id="searchFoodCode" parameterType="map" resultMap="Foodcode">
		select * from tr_foodcode where
			<choose>
				<when test="fstcode != null">
					FC_1ST=#{fstcode}
				</when>
				<otherwise>
					FC_1ST!='0'
				</otherwise>
			</choose>
			<choose>
				<when test="sndcode != null">
					and FC_2ND=#{sndcode}
				</when>
				<otherwise>
					and FC_2ND!='0'
				</otherwise>
			</choose>
			<choose>
				
				<when test="trdcode == '-1'">
					and FC_3RD!='0'
				</when>
				<when test="trdcode == null">
					and FC_3RD='0'
				</when>
				<otherwise>
					and FC_3RD=#{trdcode}
				</otherwise>
			</choose>
			and fc_isblock='0'
	</select>
	
</mapper>