<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- @author 한범석, 박호진 MemberMapper 설정 -->


<mapper namespace="member_ns">
	<!-- 속성명과 컬럼명 일치하는 경우 컬럼명 생략 가능 순서를 컬럼순서대로 함 O(자바객체)R(결과집합의 행)매핑 -->

	<resultMap id="MemberResult" type="Member">
		<result property="m_userid" column="m_userid" />
		<result property="m_pw" column="m_pw" />
		<result property="m_name" column="m_name" />
		<result property="m_email" column="m_email" />
		<result property="m_post" column="m_post" />
		<result property="m_addr" column="m_addr" />
		<result property="m_phone" column="m_phone" />
		<result property="m_level" column="m_level" />
	</resultMap>

	<!-- 로그인 -->
	<select id ="selectLogin" parameterType="Map" resultMap="MemberResult">
	select * from TR_MEMBER
	where m_userid = #{m_userid}
	AND m_pw = #{m_pw}
	</select>

	<!-- 회원 가입 -->
 	<insert id="insertMember" parameterType="Member">
		insert into TR_MEMBER values(
		#{m_userid}, #{m_pw}, #{m_name},
		#{m_email}, #{m_post}, #{m_addr},
		#{m_phone}, 1, 1)
	</insert> 

	<!-- 아이디 찾기(이메일로 찾기) -->
	<select id="selectId" parameterType="Map" resultMap="MemberResult">
		select * from TR_MEMBER
		 where m_email = #{m_email}
	</select>

	<!-- 비밀번호 찾기(아이디로 찾기) -->
	<select id="findPw" parameterType="Member" resultMap="MemberResult">
		select * from TR_MEMBER
		where m_userid = #{m_userid} and m_phone = #{m_phone}
	</select>

	<!-- 회원 아이디 중복 체크 -->
<!--  	<select id="checkId" parameterType="Map" resultType="MemberResult">
		select * from TR_MEMBER
		where m_userid = #{m_userid}
	</select> -->

	<!-- mypage 수정 -->
	<update id="updateMyInfo" parameterType="Map" >
		update TR_MEMBER
		set
		m_pw = #{m_pw} ,
		m_email = #{m_email}, m_post = #{m_post},
		m_addr = #{m_addr}, m_phone = #{m_phone}
		where m_userid = #{m_userid}
		
	</update>

	<!-- 회원 탈퇴 -->
 	<delete id="deleteMember" parameterType="Member">
		delete from TR_MEMBER
		where m_userid = #{m_userid}
	</delete>
	

 <!-- mypage 조회 -->
	<select id="selectMyInfo" resultMap="MemberResult" parameterType="string">
		select * from TR_MEMBER
		 where m_userid = #{m_userid}
	</select>

<!-- 아이디 체크 -->
	<select id="checkId" resultType="string" parameterType="string">
		SELECT COUNT(*) FROM TR_MEMBER
		WHERE M_Userid = #{m_userid}
	</select>
	
	<!-- 삭제 비밀번호 확인 -->
	<select id="selectpw" resultType="string" parameterType="string">
	select m_pw from tr_member
	where m_userid = #{m_userid}
	</select>
</mapper>