@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-size: 14px;
}
img{
	width: 100%;
}
a{
	text-decoration: none;
	display: block;
}
label{
	display: inline-block;
    margin-bottom: .5rem;
}


.cateReg #category{
	width: 350px;
	float: left;
}
.cateReg #con_right{
	width: 600px;
	margin-left: 50px;
	float: left;
	border: 1px solid #ccc;
}


.table_defalt{
    width: 100%;
}
.table_defalt table{
    width: 100%;
}
.table_defalt table thead tr th{
    padding: 15px 0;
    text-align: center;
    border-bottom: 2px solid #666;
}
.table_defalt table tbody tr:nth-child(2n){
    background: #eee;
}
.table_defalt table tbody tr td{
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
}
.table_defalt table tbody tr td.text_left{
    text-align: left;
}












.board table{
	width: 100%;
	margin-top: 30px;
	border-top: 2px solid #333;
	font-size: 13px;
}
.board table thead{

}
.board table thead tr{
	border-bottom: 1px solid #ccc;
}
.board table thead tr th{
	height: 38px;
	line-height: 38px;
	color: #666;
	font-weight: bold;
}
.board table tbody{
	
}
.board table tbody tr{
	border-bottom: 1px solid #ccc;
}
.board table tbody tr td{
	height: 36px;
	line-height: 36px;
	text-align: center;
	color: #666;
}
.board table tbody tr td.text_left{
	text-align: left;
}
.board table tbody tr td.text_left a{
	color: #666;
}
.board table tbody tr td.text_left a img{
	width: 70px;
	padding: 5px;
	vertical-align: middle;
}
.board table tbody tr td.text_left span{
	font-size: 11px;
	color: #2ac1bc;
}





.write_form{
	padding: 30px 0;
}
.write_form fieldset{
	padding: 10px 0;
	overflow: hidden;
}
.write_form fieldset label{
	width: 20%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
}
.write_form fieldset input{
	width: 80%;
	height: 40px;
	padding: 0 10px;
	line-height: 40px;
	float: left;
	border: 1px solid #eee;
}
.write_form fieldset textarea{
	width: 80%;
	height: 400px;
	padding: 10px;
	float: left;
	border: 1px solid #eee;
}
.write_form fieldset.fileWrap{
	position: relative;
}
.write_form fieldset.fileWrap .file-select-name{
	width: 80%;
	height: 40px;
	padding: 0 10px;
	line-height: 40px;
	float: left;
	border: 1px solid #eee;
	color: #999;
}
.write_form fieldset.fileWrap #chooseFile{
	width: 80%;
	position: absolute;
	top: 10px;
	right: 0;
	opacity: 0;
}
.write_form fieldset.btn_bottom{
	text-align: center;
}
.write_form fieldset.btn_bottom input{
	width: 160px;
	margin-right: 20px;
	background: #2ac1bc;
	color: #fff;
	float: none;
}
.write_form fieldset.btn_bottom a{
	width: 160px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #2ac1bc;
}