@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-size: 14px;
}
img{
	width: 100%;
}
a{
	text-decoration: none;
	display: block;
}
label{
	display: inline-block;
    margin-bottom: .5rem;
}